body, html{
  height:100%;
  padding:0;
  margin:0;
  font-size: 1vw;
  font-family:'Roboto Mono', monospace;
  background-color: #282e34;
}

p, h1, h2 {
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
  color:#ddd;
}

.pimg2, .pimg3, .pimg4, .pimg5{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:300px;
}

.intro {
  position: relative;
  text-align: center;
}

.intro img{
  width: 100%;
  height: auto;
  animation: fadeIn 4s;
}

.intro .ptext{
  animation: fadeIn 3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pimg2{
  background-image:url('../img/skills.jpg');
}

.pimg3{
  background-image:url('../img/experience.jpg');
}

.pimg4{
  background-image:url('../img/education.jpg');
}

.pimg5{
  background-image:url('../img/code5.jpg');
}

section{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:32%;
  width:100%;
  text-align:center;
  font-size:4vw;
  font-family:'Space Mono', monospace;
}

.ptext .border{
  background-color:rgba(0,0,0,0.70);
  color:#fff;
  padding:20px 40px;
}

.main-container{
  max-width: 1200px;
  margin: auto;
  padding: 15px 0;
}

.main-container p, h1, h2{
  padding: 8px;
}

#contact .left-column{
  text-align: center;
}

#contact .right-column{
  text-align: right;
}

.left-column, .right-column {
  margin: auto;
}

.card img {
  border-radius: 50%;
  max-width: 200px;
}

.card-container {
  padding: 0px 16px;
}

.icon-container{
  display: flex;
  justify-content: flex-end;
}

.icon{
  max-width: 50px;
  flex: 1;
  margin: 15px 10px;
}

.icon a svg {
  fill:#ddd;
}

.two-column-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#skills ul {
  list-style: circle;
  margin-right: 50px;
}

#experience .main-container, #education .main-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.place {
  padding: 10px 0;
  font-weight: bold;
}

.date {
  margin-top: 20px;
}

.experience{
  margin-bottom: 10px;
}

#projects .main-container {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.slideshow-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation: fadeIn 1s;
}

.card-container{
  padding: 2px 16px;
}

.hideme{
  opacity: 0;
}

@media(max-width:800px){
  .pimg2, .pimg3, .pimg4, .pimg5{
    background-attachment: scroll;
    height:200px;
  }
  .main-container{
		grid-template-columns: 1fr;
    max-width: 90%;
  }
  .two-column-container{
    grid-template-columns: 1fr;
  }
  .icon-container{
    justify-content: center;
  }
  .right-column, .left-column {
    text-align: center;
  }
  #skills ul {
    list-style: none;
    margin-right: 0px;
  }
  .main-container img{
    padding-top: 15px
  }
  .ptext{
    font-size:6vw;
  }
  body, html{
    font-size:2vw
  }
}


@media(max-width:568px){
  .pimg2, .pimg3, .pimg4, .pimg5{
    height:150px;
  }
  .ptext{
    font-size:8vw;
    top:35%;
  }
  body, html{
    font-size:3vw
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}